{% extends "base.html" %}

{% block content %}

    <p>这是一个关于运动检测的项目，可以按照每日，每周，每月来显示你的运动与身体状况，你可以直接通过数据观察分析，与此同时，我们也给您提供图表以供直观地展示.</p>

	<div class="row clearfix">
		<div class="col-md-3 column">
			<h2>
				简介：
			</h2>
			<p>
                从数据库读取生成的数据，用图表显示在界面上，并异步更新，如果数据统计不合格，则发送提醒邮件.本项目主要用于记录用户的运动情况，每日步数，跑步时间，体重的变化等，用户可以通过图表得到一个较为直观的反馈.但暂时，我们获得的数据库中的数据仅仅是生成的假数据，以后可以连同比如小米手环等硬件来导出数据
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
        <div class="col-md-1 column"></div>
		<div class="col-md-3 column">
			<h2>
				功能：
			</h2>
			<p>
				1.登陆注册功能，对界面的美化<br>
                2.登入登出功能,对直接链接访问的拦截<br>
                3.数据的可视化处理，柱状图与折线图,显示的百分比为合格率<br>
                4.图表上的异步更新，每隔一定时间读取一条数据<br>
                5.告警邮件发送功能，钉钉等暂未实现<br>
                6.用户提交随笔功能，界面较为简陋<br>
                7.初步实现了与vue,echart的整合<br>
            </p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
        <div class="col-md-1 column"></div>
		<div class="col-md-4 column">
			<h2>
				缺陷：
			</h2>
			<p>
                1.数据库设计不够严谨<br>
                2.系统整体性不强<br>
                3.用户交互还比较欠缺<br>
                4.设计了角色，但未加入权限<br>
                5.有时候会出现较为卡顿现象<br>
                6.数据库中数据尚为静态假数据<br>
                7.读出数据暂未分页处理<br>
            </p>

			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
{% endblock %}